In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('MagicBricks.csv')

In [4]:
data.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0

In [5]:
data.shape

(1259, 11)

In [6]:
data.info() #Tells kitne column hai har column mei kitni non-null values hai

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1257 non-null   float64
 3   Furnishing   1254 non-null   object
 4   Locality     1259 non-null   object
 5   Parking      1226 non-null   float64
 6   Price        1259 non-null   int64
 7   Status       1259 non-null   object
 8   Transaction  1259 non-null   object
 9   Type         1254 non-null   object
 10  Per_Sqft     1018 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 108.3+ KB

In [7]:
for column in data.columns:
    print(data[column].value_counts()) #Counting number of values of each type in a column
    print("*"*20)

900.0      67
1500.0     50
1800.0     48
1000.0     42
1600.0     38
           ..
150.0       1
3250.0      1
4000.0      1
5500.0      1
11050.0     1
Name: Area, Length: 315, dtype: int64
********************
3     541
2     367
4     220
1      96
5      27
6       6
7       1
10      1
Name: BHK, dtype: int64
********************
2.0    551
3.0    355
1.0    146
4.0    138
5.0     57
6.0      7
7.0      3
Name: Bathroom, dtype: int64
********************
Semi-Furnished    708
Unfurnished       363
Furnished         183
Name: Furnishing, dtype: int64
********************
Lajpat Nagar 3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  34
Lajpat Nagar 2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  33
J R Designers Floors, Rohini Sector 24                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          31
Kailash Colony, Greater Kailash                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 30
Yamuna Vihar, Shahdara                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          29
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ..
Safdarjung Enclave carpet area 3250 sqft status Ready to Move floor 1 out of 4 floors transaction Resale furnishing Semi-Furnished facing North - East overlooking Garden/Park, Main Road car parking 1 Covered bathroom 4 balcony 3 ownership Freehold Near Buy Green park Metro station. The location of the property is Awesome and Peaceful. The construction is very Highend and Very tasteful Done-up. The Same property is location on the FF. 4 Side corner read more Contact Agent Enquire Now Share Feedback Crisil Silver Agent Findahouse Real Estate Consultants LLP 2000+ Buyers Served                                            1
Safdarjung Enclave carpet area 290 sqyrd status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Semi-Furnished facing West overlooking Main Road car parking 2 Open bathroom 4 balcony 3 ownership Freehold Opposite Deer Park.The property comes with independent Terrace. The area is centrally located and close to ring road which allows easy acess to all other areas.Renowned Delhi Lawn Tennis Association is within 10 minutes walking distance.Green park market is walkable distance. read more Contact Owner View Phone No. Share Feedback Owner Hemant pajankar                                                 1
Safdarjung Enclave carpet area 1450 sqft status Ready to Move floor 3 out of 4 floors transaction Resale furnishing Semi-Furnished facing North - East overlooking Garden/Park, Main Road car parking 1 Covered, 1 Open bathroom 3 balcony 2 ownership Freehold Park facing builder floor apartment available for sale in safderjung enclave, 3 bedroom with attached bathroom, drawing dinning, modular kitchen. the property is on the top floor of a four storey building with terrace right, servant quarter, 1 car parking in stilt. read more Contact Agent View Phone No. Share Feedback Agent Delhi Homes Realty 1000+ Buyers Served     1
Safdarjung Enclave super area 2200 sqft status Ready to Move floor 2 out of 4 floors transaction New Property furnishing Semi-Furnished facing South overlooking Main Road car parking 3 Covered, 2 Open bathroom 4 balcony 3 ownership Freehold Newly Constructed Property Wide Road 450 Yards 2nd floor brand new 4 bhk attached bathrooms with full lighted and ventilated house.Most Valuable DealSEE TO BELIEVE read more Contact Agent View Phone No. Share Feedback Crisil Bronze Agent Panchsheel Homes 500+ Buyers Served                                                                                                               1
Chittaranjan Park Block A                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Name: Locality, Length: 365, dtype: int64
********************
1.0      796
2.0      341
3.0       54
4.0       16
5.0        7
39.0       7
114.0      3
9.0        1
10.0       1
Name: Parking, dtype: int64
********************
15000000     30
25000000     21
30000000     21
6000000      20
20000000     20
             ..
135500000     1
8770000       1
74000000      1
120000000     1
22200000      1
Name: Price, Length: 284, dtype: int64
********************
Ready_to_move    1184
Almost_ready       75
Name: Status, dtype: int64
********************
Resale          781
New_Property    478
Name: Transaction, dtype: int64
********************
Builder_Floor    661
Apartment        593
Name: Type, dtype: int64
********************
12500.0    34
3524.0     28
6667.0     27
14818.0    24
6154.0     18
           ..
18793.0     1
19811.0     1
20270.0     1
16654.0     1
20581.0     1
Name: Per_Sqft, Length: 251, dtype: int64
********************

In [7]:
data.isna().sum() #Tells per column total null values kitni hai

Area             0
BHK              0
Bathroom         2
Furnishing       5
Locality         0
Parking         33
Price            0
Status           0
Transaction      0
Type             5
Per_Sqft       241
dtype: int64

In [8]:
data.describe()

,Area,BHK,Bathroom,Parking,Price,Per_Sqft
count,1259.000000,1259.000000,1257.000000,1226.000000,1.259000e+03,1018.000000
mean,1466.452724,2.796664,2.556086,1.935563,2.130670e+07,15690.136542
std,1568.055040,0.954425,1.042220,6.279212,2.560115e+07,21134.738568
min,28.000000,1.000000,1.000000,1.000000,1.000000e+06,1259.000000
25%,800.000000,2.000000,2.000000,1.000000,5.700000e+06,6364.000000
50%,1200.000000,3.000000,2.000000,1.000000,1.420000e+07,11291.500000
75%,1700.000000,3.000000,3.000000,2.000000,2.550000e+07,18000.000000
max,24300.000000,10.000000,7.000000,114.000000,2.400000e+08,183333.000000

In [9]:
data['Bathroom'].value_counts()

2.0    551
3.0    355
1.0    146
4.0    138
5.0     57
6.0      7
7.0      3
Name: Bathroom, dtype: int64

In [10]:
data['Bathroom'] = data['Bathroom'].fillna(data['Bathroom'].median())

In [11]:
data['Furnishing'].value_counts()

Furnishing
Semi-Furnished    708
Unfurnished       363
Furnished         183
Name: count, dtype: int64

In [12]:
data['Furnishing'] = data['Furnishing'].fillna('Semi-Furnished')

In [13]:
data['Parking'].value_counts()

Parking
1.0      796
2.0      341
3.0       54
4.0       16
5.0        7
39.0       7
114.0      3
9.0        1
10.0       1
Name: count, dtype: int64

In [14]:
data['Parking'] = data['Parking'].fillna(data['Parking'].median())

In [15]:
data['Per_Sqft'].value_counts()

Per_Sqft
12500.0    34
3524.0     28
6667.0     27
14818.0    24
6154.0     18
           ..
18793.0     1
19811.0     1
20270.0     1
16654.0     1
20581.0     1
Name: count, Length: 251, dtype: int64

In [16]:
data['Per_Sqft'] = data['Per_Sqft'].fillna(data['Per_Sqft'].median())

In [17]:
data['Type'].value_counts()

Type
Builder_Floor    661
Apartment        593
Name: count, dtype: int64

In [18]:
data['Type'] = data['Type'].fillna('Builder_Floor')

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1259 non-null   float64
 3   Furnishing   1259 non-null   object
 4   Locality     1259 non-null   object
 5   Parking      1259 non-null   float64
 6   Price        1259 non-null   int64
 7   Status       1259 non-null   object
 8   Transaction  1259 non-null   object
 9   Type         1259 non-null   object
 10  Per_Sqft     1259 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 108.3+ KB

In [20]:
data['Locality'].tail(20)

1239                                    Chittaranjan Park
1240                                    Chittaranjan Park
1241    Chittaranjan Park carpet area 270 sqyrd status...
1242                                    Chittaranjan Park
1243                                    Chittaranjan Park
1244                               Nehru Enclave, Kalkaji
1245                                    Chittaranjan Park
1246                                    Chittaranjan Park
1247                                    Chittaranjan Park
1248                                    Chittaranjan Park
1249                                    Chittaranjan Park
1250                                    Chittaranjan Park
1251                                    Chittaranjan Park
1252                               Nehru Enclave, Kalkaji
1253                                    Chittaranjan Park
1254                                    Chittaranjan Park
1255                                    Chittaranjan Park
1256                                    Chittaranjan Park
1257                            Chittaranjan Park Block A
1258                                    Chittaranjan Park
Name: Locality, dtype: object

In [21]:
data['Locality'] = data['Locality'].apply(lambda x: x.strip())

In [22]:
location_count = data['Locality'].value_counts()

In [23]:
location_count_less10 = location_count[location_count<10]
location_count_less10

Locality
Govindpuri Extension, Kalkaji                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   9
Uttam Nagar                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     9
Narela                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          9
DDA Lig Flats, Narela                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           9
Punjabi Bagh West                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               9
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ..
Safdarjung Enclave carpet area 3250 sqft status Ready to Move floor 1 out of 4 floors transaction Resale furnishing Semi-Furnished facing North - East overlooking Garden/Park, Main Road car parking 1 Covered bathroom 4 balcony 3 ownership Freehold Near Buy Green park Metro station. The location of the property is Awesome and Peaceful. The construction is very Highend and Very tasteful Done-up. The Same property is location on the FF. 4 Side corner read more Contact Agent Enquire Now Share Feedback Crisil Silver Agent Findahouse Real Estate Consultants LLP 2000+ Buyers Served                                           1
Safdarjung Enclave carpet area 290 sqyrd status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Semi-Furnished facing West overlooking Main Road car parking 2 Open bathroom 4 balcony 3 ownership Freehold Opposite Deer Park.The property comes with independent Terrace. The area is centrally located and close to ring road which allows easy acess to all other areas.Renowned Delhi Lawn Tennis Association is within 10 minutes walking distance.Green park market is walkable distance. read more Contact Owner View Phone No. Share Feedback Owner Hemant pajankar                                                1
Safdarjung Enclave carpet area 1450 sqft status Ready to Move floor 3 out of 4 floors transaction Resale furnishing Semi-Furnished facing North - East overlooking Garden/Park, Main Road car parking 1 Covered, 1 Open bathroom 3 balcony 2 ownership Freehold Park facing builder floor apartment available for sale in safderjung enclave, 3 bedroom with attached bathroom, drawing dinning, modular kitchen. the property is on the top floor of a four storey building with terrace right, servant quarter, 1 car parking in stilt. read more Contact Agent View Phone No. Share Feedback Agent Delhi Homes Realty 1000+ Buyers Served    1
Safdarjung Enclave super area 2200 sqft status Ready to Move floor 2 out of 4 floors transaction New Property furnishing Semi-Furnished facing South overlooking Main Road car parking 3 Covered, 2 Open bathroom 4 balcony 3 ownership Freehold Newly Constructed Property Wide Road 450 Yards 2nd floor brand new 4 bhk attached bathrooms with full lighted and ventilated house.Most Valuable DealSEE TO BELIEVE read more Contact Agent View Phone No. Share Feedback Crisil Bronze Agent Panchsheel Homes 500+ Buyers Served                                                                                                              1
Chittaranjan Park Block A                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
Name: count, Length: 333, dtype: int64

In [24]:
data['Locality'] = data['Locality'].apply(lambda x : 'other' if x in location_count_less10 else x)

In [25]:
data['Locality'].value_counts()

Locality
other                                                           687
Lajpat Nagar 3                                                   34
Lajpat Nagar 2                                                   33
J R Designers Floors, Rohini Sector 24                           31
Kailash Colony, Greater Kailash                                  30
Yamuna Vihar, Shahdara                                           29
Laxmi Nagar                                                      25
Mehrauli                                                         24
Chittaranjan Park                                                24
Saket                                                            21
Alaknanda                                                        20
DDA Flats Sarita Vihar, Sarita Vihar, Mathura Road               19
Safdarjung Enclave                                               18
Chhattarpur                                                      17
The Amaryllis, Karol Bagh                                        17
Sheikh Sarai Phase 1                                             17
Dilshad Colony, Dilshad Garden                                   16
Mahavir Enclave Part 1                                           15
Common Wealth Games Village, Commonwealth Games Village 2010     15
Patel Nagar West                                                 15
DLF Capital Greens, New Moti Nagar, Kirti Nagar                  14
New Moti Nagar, Kirti Nagar                                      14
New Friends Colony                                               14
Malviya Nagar                                                    13
Sukhdev Vihar, Okhla                                             12
Vasundhara Enclave                                               12
Hauz Khas                                                        12
New Manglapuri, Sultanpur                                        11
Narmada Apartment, Alaknanda                                     10
Vasant Kunj                                                      10
Rohini Sector 24                                                 10
Mahavir Enclave                                                  10
The Leela Sky Villas, Patel Nagar                                10
Name: count, dtype: int64

In [26]:
data.describe()

,Area,BHK,Bathroom,Parking,Price,Per_Sqft
count,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000
mean,1466.452724,2.796664,2.555203,1.911041,2.130670e+07,14848.141779
std,1568.055040,0.954425,1.041627,6.198110,2.560115e+07,19081.470810
min,28.000000,1.000000,1.000000,1.000000,1.000000e+06,1259.000000
25%,800.000000,2.000000,2.000000,1.000000,5.700000e+06,6714.000000
50%,1200.000000,3.000000,2.000000,1.000000,1.420000e+07,11291.500000
75%,1700.000000,3.000000,3.000000,2.000000,2.550000e+07,15459.000000
max,24300.000000,10.000000,7.000000,114.000000,2.400000e+08,183333.000000

In [27]:
(data['Area']/data['BHK']).describe()

count    1259.000000
mean      501.167417
std       416.755438
min        11.250000
25%       350.000000
50%       450.000000
75%       551.250000
max      6075.000000
dtype: float64

In [28]:
data = data[((data['Area']/data['BHK'])>=250)]
data.describe()

,Area,BHK,Bathroom,Parking,Price,Per_Sqft
count,1170.000000,1170.000000,1170.000000,1170.000000,1.170000e+03,1170.000000
mean,1547.146705,2.806838,2.605983,1.903419,2.239960e+07,14591.292308
std,1596.508581,0.923204,1.030484,6.239728,2.616146e+07,18605.234164
min,270.000000,1.000000,1.000000,1.000000,1.000000e+06,1259.000000
25%,900.000000,2.000000,2.000000,1.000000,6.225000e+06,6894.500000
50%,1270.000000,3.000000,2.000000,1.000000,1.500000e+07,11291.500000
75%,1700.000000,3.000000,3.000000,2.000000,2.637500e+07,15459.000000
max,24300.000000,7.000000,7.000000,114.000000,2.400000e+08,183333.000000

In [29]:
data.shape

(1170, 11)

In [30]:
data.Per_Sqft.describe()

count      1170.000000
mean      14591.292308
std       18605.234164
min        1259.000000
25%        6894.500000
50%       11291.500000
75%       15459.000000
max      183333.000000
Name: Per_Sqft, dtype: float64

In [31]:
def remove_outlier_sqft(df):
    df_output = pd.DataFrame()
    for key,subdf in df.groupby('Locality'):
        m = np.mean(subdf.Per_Sqft)
        
        st = np.std(subdf.Per_Sqft)
        
        gen_df = subdf[(subdf.Per_Sqft > (m-st)) & (subdf.Per_Sqft <= (m+st))]
        
        df_output = pd.concat([df_output,gen_df],ignore_index=True)
        
    return df_output

data = remove_outlier_sqft(data)
data.describe()

,Area,BHK,Bathroom,Parking,Price,Per_Sqft
count,998.000000,998.000000,998.000000,998.000000,9.980000e+02,998.000000
mean,1562.296250,2.806613,2.601202,1.940882,2.219876e+07,11847.626253
std,1681.268253,0.928581,1.033675,6.743436,2.558437e+07,6146.520530
min,270.000000,1.000000,1.000000,1.000000,1.000000e+06,1259.000000
25%,882.500000,2.000000,2.000000,1.000000,6.200000e+06,6667.000000
50%,1280.000000,3.000000,2.000000,1.000000,1.500000e+07,11291.500000
75%,1710.000000,3.000000,3.000000,2.000000,2.600000e+07,14818.000000
max,24300.000000,7.000000,7.000000,114.000000,2.400000e+08,30556.000000

In [32]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('Locality'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('BHK'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.Per_Sqft),
                'std': np.std(bhk_df.Per_Sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('BHK'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.Per_Sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [33]:
data = remove_bhk_outliers(data)

In [34]:
data.shape

(726, 11)

In [35]:
data

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,1400.0,3,2.0,Unfurnished,Alaknanda,1.0,19000000,Ready_to_move,Resale,Apartment,12500.0
1,1100.0,2,2.0,Unfurnished,Alaknanda,2.0,15000000,Ready_to_move,Resale,Apartment,12500.0
2,1200.0,2,2.0,Semi-Furnished,Alaknanda,2.0,17500000,Ready_to_move,Resale,Apartment,12500.0
3,1400.0,2,2.0,Semi-Furnished,Alaknanda,2.0,14000000,Ready_to_move,Resale,Apartment,12500.0
4,1320.0,3,2.0,Unfurnished,Alaknanda,2.0,15600000,Ready_to_move,Resale,Apartment,12500.0
...,...,...,...,...,...,...,...,...,...,...,...
992,1250.0,3,3.0,Semi-Furnished,other,1.0,25500000,Almost_ready,New_Property,Builder_Floor,11291.5
993,1200.0,3,3.0,Semi-Furnished,other,1.0,22200000,Ready_to_move,New_Property,Builder_Floor,18333.0
994,2430.0,4,4.0,Furnished,other,5.0,30000000,Ready_to_move,Resale,Builder_Floor,18333.0
996,1800.0,3,3.0,Semi-Furnished,other,1.0,26000000,Ready_to_move,Resale,Builder_Floor,12916.0
997,990.0,2,2.0,Unfurnished,other,1.0,11500000,Ready_to_move,Resale,Builder_Floor,12916.0

In [36]:
# data.drop(columns=['Parking','Status'],inplace = True)
data.drop(columns=['Parking','Status','Transaction','Type','Furnishing'],inplace = True)

In [37]:
# data['Furnishing'] = data['Furnishing'].str.replace('-',' ')

In [38]:
data.head()

     Area  BHK  Bathroom   Locality     Price  Per_Sqft
0  1400.0    3       2.0  Alaknanda  19000000   12500.0
1  1100.0    2       2.0  Alaknanda  15000000   12500.0
2  1200.0    2       2.0  Alaknanda  17500000   12500.0
3  1400.0    2       2.0  Alaknanda  14000000   12500.0
4  1320.0    3       2.0  Alaknanda  15600000   12500.0

In [39]:
data.to_csv('Cleaned_data.csv')

In [40]:
X = data.drop(columns=['Price'])
y = data['Price']

# Model Building

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [42]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [43]:
print(X_train.shape)
print(X_test.shape)

(580, 5)
(146, 5)

**APPLYING LINEAR REGRESSION**

In [44]:
# column_trans = make_column_transformer((OneHotEncoder(sparse=False),['Locality','Furnishing','Transaction','Type']),
#                                       remainder = 'passthrough')
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['Locality']),
                                      remainder = 'passthrough')

In [45]:
scaler = StandardScaler()

In [46]:
lr = LinearRegression()

In [47]:
pipe = make_pipeline(column_trans,scaler,lr)

In [48]:
pipe.fit(X_train,y_train)

/Users/harshilbansal/anaconda3/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Locality'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [49]:
y_pred_lr = pipe.predict(X_test)

In [50]:
r2_score(y_test,y_pred_lr)

0.6070079583763082